.navigation {
  background-color: #333;
  padding: 10px;
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.link:hover {
  text-decoration: underline;
}
